.payment__method--card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
	padding: 1em;
	box-shadow: 0.25em 0 1em -0.5em hsla(230, 20%, 80%, 1);
	img {
		width: 2.5em;
		margin-right: 1em;
	}
	img:last-child {
		width: 2em;
		margin-right: 0;
	}
	button {
		background-color: transparent;
		border: none;
	}
	form {
		background-color: transparent;
	}
	span {
		&:last-child {
			margin-left: auto;
		}
	}
}
