.App {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.main__dashboard {
	margin-left: 19%;
	height: 100;
	width: 81%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f3f5fa;
}

//form top section
.new__icon {
	margin-bottom: 15px;
}

.explan {
	margin-bottom: 20px;
}

.form__heading {
	margin-bottom: 20px;
}

.form__heading small {
	padding-top: 200px;
}
.sidebar {
	width: 15%;
	min-width: 280px;
}

.main {
	min-height: 80vh;
}

@media screen and (max-width: 640px) {
	.Main {
		margin-left: 0 !important;
	}
	.Dashboard {
		flex-direction: column !important;
		.left {
			width: 80vw !important;
		}
		.announcements {
			margin-top: 2em;
			width: 80vw !important;
		}
	}
	.Profile {
		flex-direction: column !important;
		height: fit-content;
		.Profile__Left {
			width: 100% !important;
		}
		.Profile__Right {
			margin-top: 2em;
			width: 100% !important;
		}
	}
	#Logo__Small {
		display: block !important;
		background-color: transparent;
		border: none;
		img {
			filter: invert(1);
		}
		margin-left: 0;
	}
	#Logo__Large {
		display: none;
	}
	.sidebar {
		padding-top: 0.5em !important;
		overflow: scroll !important;
		z-index: 2 !important;
	}
	.sidebar__item {
		text-align: left;
		height: 40px !important;
	}
	.navuser__path {
		letter-spacing: 2px;
		font-size: 1em;
	}
	.links {
		display: none;
	}
}
