.Dashboard {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	.left {
		width: 45%;
	}
	.left > div {
		margin-bottom: 5px;
	}
	.white {
		background-color: white;
		-webkit-box-shadow: 0px 0px 11px 2px #ccd;
		-moz-box-shadow: 0px 0px 11px 2px #ccd;
		box-shadow: 0px 0px 11px 2px #ccd;
	}

	.evaluation {
		height: 300px;
	}
	.insert__test {
		height: 300px;
	}
	.upcoming__tests {
		height: fit-content;
	}
	.announcements {
		width: 45%;
		height: 80vh;
		height: fit-content;
	}
}
