.Profile {
	background-color: white;
	width: 100%;
	min-height: 80vh;
	display: flex;

	input {
		max-width: 200px;
	}
	.Profile__Left {
		width: 100%;
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		> div {
			height: 50%;
		}
		img {
			width: 250px;
			height: 250px;
			padding: 3em;
			position: relative;
			border-radius: 50%;
		}
		input[type='file'] {
			display: none;
		}
		label {
			width: 30px;
			height: 30px;
			margin: 0;
			position: absolute;
			margin-top: 3em;
			margin-left: -2em;
			img {
				width: 100%;
				height: 100%;
				padding: 0;
				border-radius: 0;
			}
		}

		.Profile__Left__Text {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			margin: auto 4em;
			#padlock {
				border: none;
				background-color: transparent;
			}
			> div {
				display: flex;
				align-content: center;
				justify-content: start;
				p {
					margin: auto 1em;
					border-bottom: 0.5px solid lightgray;
				}
				img {
					width: 50px;
					height: 50px;
					padding: 0;
					border-radius: 0;
				}
			}
		}
	}
	.Profile__Right {
		width: 100%;
		border: 1px solid black;
	}
	.input-group {
		display: flex;
		flex-direction: column;
		text-align: start;
		margin-left: 1em;
	}

	p {
		margin: 0;
		padding: 10px 0;
		color: #777;
	}

	.load-3 {
		height: 100%;
		padding-top: 150px;
	}

	.load-wrapp {
		float: left;
		width: 100px;
		height: 100px;
		margin: 0 10px 10px 0;
		padding: 20px 20px 20px;
		border-radius: 5px;
		text-align: center;
		background-color: #d8d8d8;
	}

	.load-wrapp p {
		padding: 0 0 20px;
	}
	.load-wrapp:last-child {
		margin-right: 0;
	}

	.line {
		display: inline-block;
		width: 15px;
		height: 15px;
		margin: 0px 2px;
		border-radius: 15px;
		background-color: #4b9cdb;
	}

	.load-3 .line:nth-last-child(1) {
		animation: loadingC 0.6s 0.1s linear infinite;
	}
	.load-3 .line:nth-last-child(2) {
		animation: loadingC 0.6s 0.2s linear infinite;
	}
	.load-3 .line:nth-last-child(3) {
		animation: loadingC 0.6s 0.3s linear infinite;
	}

	@keyframes loadingC {
		0 {
			transform: translate(0, 0);
		}
		50% {
			transform: translate(0, 15px);
		}
		100% {
			transform: translate(0, 0);
		}
	}
}
