.Navbar__User {
	display: flex;
	justify-content: space-between;
	height: auto;
	.navuser__path {
		color: white;
		font-size: 2.5em;
		font-weight: bold;
		letter-spacing: 5px;
		&:hover {
			color: white;
		}
	}
	.navbar-nav {
		display: flex;
		align-content: center;
		h6 {
			margin: auto 1em;
		}
	}
	#Logo__Small {
		display: none;
	}
}
