.Dictionary {
	min-height: 87vh;
	width: 100%;
	background-color: white;
	padding: 1em;
	.input-group {
		display: flex;
		justify-content: center;
		margin: 2em auto;
		width: 300px;
	}
	form {
		margin: 2em 3em 2em 3em;
		padding: 3em;
		border-bottom: lightgray solid 0.5px;
		input {
			overflow: scroll;
		}
		button {
			margin-top: 5px;
			border-radius: 10px;
			padding: 0.7em;
			background-color: rgba($color: #3498db, $alpha: 0.8);
		}
		img {
			margin-left: 1em;
			width: 25px;
			height: 25px;
		}
	}
}
