.footer {
	margin-top: 5em;
	padding-top: 21px;
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	padding-left: 20px;
	padding-bottom: 20px;
	color: white;
	margin-top: 2em;
	bottom: 0;
	a {
		color: inherit;
		height: 24px;
		.navbar-nav {
			height: inherit;
			img {
				height: inherit;
				width: auto;
				margin-right: 0.5em;
				filter: invert(100%);
			}
		}
	}
}

.footer__link {
	color: white;
	&:hover {
		color: #999;
		text-decoration: none;
	}
}
