.Dashboard {
	margin-right: 15px;
	display: flex;
	justify-content: space-evenly;
	padding: 1em;
	.left {
		width: 45%;
	}
	.left > div {
		margin: 5px;
	}
	.white {
		background-color: white;
		-webkit-box-shadow: 3px 3px 5px 6px #ccc;
		-moz-box-shadow: 3px 3px 5px 6px #ccc;
		box-shadow: 3px 3px 5px 6px #ccc;
	}

	.evaluation {
		height: 300px;
	}
	.insert__test {
		height: 300px;
	}
	.upcoming__tests {
		height: 300px;
	}
	.announcements {
		width: 45%;
		height: 80vh;
	}
}
