.sign-up {
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 150px;
}

.button__test {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #3494e6;
	padding: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	margin-bottom: 20px;
	margin-top: 10px;
}

.button__test:hover {
	background: #ec6ead;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease 0s;
}

.toggle {
	display: flex;
	justify-content: space-evenly;
	margin: 3em;
	input[type='checkbox'] {
		height: 0;
		width: 0;
		visibility: hidden;
	}

	label {
		margin-right: 1em;
		cursor: pointer;
		text-indent: -9999px;
		width: 100px;
		height: 50px;
		background: grey;
		display: block;
		border-radius: 100px;
		position: relative;
	}

	label:after {
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		width: 40px;
		height: 40px;
		background: #fff;
		border-radius: 90px;
		transition: 0.3s;
	}

	input:checked + label {
		background: #bada55;
	}

	input:checked + label:after {
		left: calc(100% - 5px);
		transform: translateX(-100%);
	}

	label:active:after {
		width: 130px;
	}
}
