.FAQ {
	width: 100%;
	padding-top: 3em;
	padding-left: 3em;
	min-height: 90vh;
	background-color: white;
	h1 {
		margin-bottom: 2em;
	}
	.clicker {
		width: 90%;
		text-align: left;
		margin: auto;
		outline: none;
		cursor: pointer;
		color: #e1c16a;
		margin-bottom: 1em;
	}

	.hiddendiv {
		display: none;
		width: 100%;
		margin: auto;
		text-align: left;
		padding-left: 2em;
		padding-right: 2em;
		color: #8f8c85;
		margin-bottom: 2em;
	}

	.clicker:focus + .hiddendiv {
		display: block;
	}
}
