.logo {
	margin-left: 15px;
	width: 50px;
}

.fixed {
	position: fixed;
	width: -webkit-fill-available;
	top: 0px;
	z-index: 2;
}

.navbar {
	background-image: linear-gradient(to left, #f39400, #0c3a4b);
	height: 70px;
	display: flex;
	align-items: center;
}

#login {
	filter: invert(1);
}

.links a {
	color: white;
	&:hover {
		color: whitesmoke;
		text-decoration: none;
	}
	&:first-child {
		padding-right: 25px;
	}
	&:last-child {
		padding-right: 20px;
	}
}
