@keyframes crescendo {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}
.Students__List {
	min-height: 87vh;
	width: 100%;
	background-color: white;
	padding: 1em;
	tr {
		.scope:hover {
			transition: all 1s ease-in-out;
			transform: scale(1.2);
		}
		a:hover {
			text-decoration: none;
		}
		th {
			color: black;
		}
	}
	h3 {
		text-align: start;
		margin: 1em;
	}
	.head {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 2em;
		button {
			background-color: transparent;
			border: none;
			border-radius: 50px;
			&:hover {
				animation: crescendo 1.5s alternate infinite ease-in-out;
			}
		}
	}
	section {
		display: flex;
		justify-content: space-evenly;
		margin: 3em;
		.input-group {
			display: flex;
			flex-direction: column;
			text-align: start;
			width: 40%;
			label {
				margin: 0;
			}
		}
	}
}
