.Abstracts {
	min-height: 87vh;
	width: 100%;
	background-color: white;
	padding: 1em;
	h3 {
		text-align: start;
		margin: 1em;
	}
	section {
		display: flex;
		justify-content: space-evenly;
		margin: 3em;
		.input-group {
			display: flex;
			flex-direction: column;
			text-align: start;
			width: 40%;
			label {
				margin: 0;
			}
		}
	}
}
